table {
  border-spacing: 10px;
}

.cal-header{
  display:flex;
  justify-content: space-between;
  padding: 0 10px;
  width:100%;
}
#cal-wrap{
  display:flex;
  justify-content: center;
  align-items: center;
}
.fade-enter-active,
.fade-leave-active{
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to{
  transition: 0;
}

.click{
  border-radius:100%;
  background-color: blue;
  
}
.click button{
  color: white;
}

.period{
  background-color:blue;
}
.period button{
  color: white;
}

.on{
  background-color:blue;
  color: white;
}